    forms(method='PUT' action=`/suite/${suite.suite_id}`)
        label(for='suite_no') Suite #: 
        input(type='number' id='suite_no' name='suite_no' value=suite.suite_no)
        br
        label(for='floor') Floor #:
        input(type='number' id='floor' name='floor' value=suite.floor)
        br
        h2 Amenities 
        p Please check the following if they are present in your suite:
        label(for='stove') Stove?
        input(type='checkbox' id='stove' name='stove' value=suite.stove)
        br
        label(for='microwave') Microwave?
        input(type='checkbox' id='microwave' name='microwave' value=suite.microwave)
        br
        label(for='dishwasher') Dishwasher?
        input(type='checkbox' id='dishwasher' name='dishwasher' value=suite.dishwasher) 
        br
        label(for='television') Television?
        input(type='checkbox' id='television' name='television' value=suite.television)
        br
        label(for='laundry') Laundry Machine?
        input(type='checkbox' id='laundry' name='laundry' value=suite.laundry)
        br
        label(for='dining_area') Dining Area?
        input(type='checkbox' id='dining_area' name='dining_area' value=suite.dining_area) 
        br
        label(for='couches') Couches?
        input(type='checkbox' id='couches' name='couches' value=suite.couches) 
        br
        input(type='submit' value='Add Suite')
        br
        script(src='/javascripts/autocomplete.js')
        script(src='/javascripts/forms.js')