extends layout

block content
    table.table.table-responsive.thead-dark.table-striped.table-bordered.table-hover
        thead 
            tr 
                th.text-center.align-middle(scope='col') Listing
                th.text-center.align-middle(scope='col') Price
                th.text-center.align-middle(scope='col') Suite 
                th.text-center.align-middle(scope='col') Move-In Date 
                th.text-center.align-middle(scope='col') Move-Out Date 
                th.text-center.align-middle(scope='col') Leaser 
            tbody 
            each listing in listings 
                tr
                    th.text-center.align-middle(scope='row')
                        a(href=`/property/${listing.suite.building._id}`)= listing.suite.building.name
                    td.text-center.align-middle $#{listing.price}
                    td.text-center.align-middle
                        a(href=`/suite/${listing.suite._id}`)= listing.suite.suite_no
                    td.text-center.align-middle= listing.moveInDate
                    td.text-center.align-middle= listing.moveOutDate 
                    td.text-center.align-middle
                      a.btn.btn-primary(href=`/listing/${listing._id}`) View