extends Layout 

block content 
    h1= property.name 
    img(src=`https://maps.googleapis.com/maps/api/place/photo?maxwidth=400&photo_reference=${property.photos[0]}&key=${api_key}`)
    h2 Address: #{property.formatted_address}
    h2 Rating: #{property.rating} (#{property.rating_count} ratings)
    h2 Contact Information
    h3 Phone: #{property.phone}
    h3 Website: 
        a(href=property.website target="_blank") #{property.website}